/* Put your style information here! */
.column  { 
    display: flex;
    flex-direction: column;
    }


.row {
    display: flex;
    flex-direction: row;
}

.title {
    margin: 2em;
    text-align: center;

}

.webpage {
    width: 55em;
    margin: 1.5em 0;
}

.tablet {
    width: 28em;
    margin: 1.5em 1em;
}

.phone {
    width: 17em;
    margin: 1.5em 1em;
}

.section {
    margin: 1em 18em;
    text-align: flex-start;

}



h1, h2, h3, h4, h5, h6 p, li, figcaption { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000
    }

figcaption {
    text-align: center;
}
a, a:link, a:hover, a:visited, a:active {
    color: #0466c8;
    font-weight:bold;
}

